body {
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
}

header {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 80px;
}

main {
  height: auto;
  width: 100%;
}
main .sectionOne {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin-top: 2rem;
  width: 100%;
  padding-bottom: 4rem;
}
main .sectionOne .divOne {
  height: auto;
  width: 100%;
  max-width: 500px;
  display: flex;
  align-items: center;
  border: none;
  margin-bottom: 3rem;
}
main .sectionOne .divOne .heroLeft {
  height: auto;
  max-width: 400px;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: -27px center;
     object-position: -27px center;
}
main .sectionOne .divTwo {
  height: auto;
  max-width: 400px;
  width: 100%;
  text-align: center;
}
main .sectionOne .divTwo .firstTitle {
  font-size: 3.5rem;
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
  line-height: 110%;
  color: #28283d;
  margin-bottom: 1.5rem;
  font-weight: 900;
}
main .sectionOne .divTwo .secondTitle {
  font-size: 17px;
  line-height: 150%;
  color: #87879d;
  margin-bottom: 1.5rem;
}
main .sectionOne .divTwo .buttonNav {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
}
main .sectionOne .divTwo .buttonDownload {
  width: 10rem;
  height: 3rem;
  border-radius: 2rem;
  border: none;
  background-color: #4d96a9;
  color: white;
  font-weight: 600;
}
main .sectionOne .divTwo .buttonDownload .downloadBtton {
  color: #8fe3f9;
}
main .sectionOne .divTwo .buttonHelp {
  width: 10rem;
  height: 3rem;
  border-radius: 2rem;
  border: none;
  background-color: #855fb1;
  color: white;
  font-weight: 600;
}
main .sectionOne .divThree {
  height: auto;
  max-width: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: none;
  margin-top: 3rem;
}
main .sectionOne .divThree .heroRight {
  height: 300px;
  max-width: 400px;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: 25px center;
     object-position: 25px center;
}
main .sectionTwo {
  height: auto;
  padding-bottom: 7.5rem;
}
main .sectionTwo .rotation {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main .sectionTwo .hrLine {
  width: 80px;
  rotate: 90deg;
  border: 1px solid #d1d1df;
}
main .sectionTwo .hrDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #d1d1df;
  height: 40px;
  width: 40px;
  margin-top: 2rem;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bolder;
  color: #87879d;
}
main .sectionTwo .imageGrid {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 20px;
  justify-content: center;
  margin-top: 3rem;
}
main .sectionTwo .imageRange {
  height: 200px;
  width: 200px;
  border-radius: 5px;
}
main .sectionTwo .secondInformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
main .sectionTwo .secondInformation .informationTitle {
  font-size: 12px;
  letter-spacing: 4px;
  font-weight: bolder;
  color: #4d96a9;
  margin: 0;
}
main .sectionTwo .secondInformation .informationTitleTwo {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 1.7rem;
  line-height: 100%;
  text-align: center;
}
main .sectionTwo .secondInformation .informationTitleThree {
  width: 358px;
  font-size: 12px;
  text-align: center;
  line-height: 150%;
  color: #87879d;
}

footer {
  background-image: url(./assets/desktop/image-footer.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 300px;
  width: 100%;
}
footer .overlay {
  width: 100%;
  height: 300px;
  position: relative;
  background-color: rgba(77, 150, 169, 0.8);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: whitesmoke;
  letter-spacing: 5px;
  font-size: 3rem;
}
footer .overlay .overlayText {
  display: flex;
  align-items: center;
  font-size: 2rem;
  width: 300px;
  height: 100px;
  font-weight: bolder;
  letter-spacing: 1px;
  line-height: 100%;
}
footer .overlay .overlyDes {
  display: flex;
  align-items: center;
  font-size: 17px;
  width: 400px;
  height: 100px;
  letter-spacing: 1px;
  line-height: 120%;
}
footer .overlay .overlayButton {
  width: 12rem;
  height: 3.5rem;
  border-radius: 2rem;
  border: none;
  background-color: #855fb1;
  color: white;
  font-weight: 600;
}
footer .overlay .overlaySpan {
  color: #d9b8ff;
}
footer .overlay .rotationTwo {
  position: absolute;
  bottom: 17.5rem;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
footer .overlay .hrLineTwo {
  width: 80px;
  rotate: 90deg;
  border: 1px solid #d1d1df;
}
footer .overlay .hrDivTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #d1d1df;
  height: 40px;
  width: 40px;
  margin-top: 1rem;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bolder;
  color: #87879d;
  background-color: white;
  letter-spacing: 0;
}

@media (max-width: 1024px) {
  main .sectionOne {
    padding-bottom: 0;
    margin-bottom: 5rem;
    width: 100%;
    height: auto;
  }
  main .sectionOne .divOne {
    margin-bottom: 20px;
  }
  main .sectionOne .divOne .heroLeft {
    width: 300px;
    height: auto;
  }
  main .sectionOne .divTwo .firstTitle {
    font-size: 48px;
    font-weight: 800;
    line-height: 90%;
  }
  main .sectionOne .divTwo .secondTitle {
    font-size: 15px;
  }
  main .sectionOne .divTwo .buttonDownload {
    width: 120px;
    height: 40px;
    font-size: 12px;
  }
  main .sectionOne .divTwo .buttonHelp {
    width: 120px;
    height: 40px;
    font-size: 12px;
  }
  main .sectionOne .divThree {
    margin-top: 20px;
  }
  main .sectionOne .divThree .heroRight {
    width: 300px;
    height: auto;
  }
  footer .overlay .overlayText {
    width: 230px;
    font-size: 25px;
  }
  footer .overlay .overlyDes {
    width: 250px;
    font-size: 11px;
  }
  footer .overlay .overlayButton {
    width: 170px;
    height: 40px;
  }
}
@media (max-width: 768px) {
  main {
    height: auto;
  }
  main .sectionOne {
    height: auto;
    margin-bottom: 0;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5rem;
  }
  main .sectionOne .divOne {
    min-width: 100%;
    margin-bottom: 0;
    margin-top: 1rem;
  }
  main .sectionOne .divOne .pictureTag {
    width: 100%;
    height: 23.5rem;
  }
  main .sectionOne .divOne .pictureTag .heroLeft {
    min-width: 100%;
    height: 80%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 48% 0%;
       object-position: 48% 0%;
  }
  main .sectionOne .divTwo .firstTitle {
    font-size: 3.5em;
    font-weight: 700;
    line-height: 90%;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  main .sectionOne .divTwo .secondTitle {
    font-size: 1rem;
  }
  main .sectionOne .divTwo .buttonNav .buttonDownload {
    width: 160px;
  }
  main .sectionOne .divTwo .buttonNav .buttonHelp {
    width: 160px;
  }
  main .sectionOne .divThree {
    display: none;
  }
  main .sectionTwo .imageGrid {
    grid-template-columns: repeat(4, 140px);
  }
  main .sectionTwo .imageGrid .imageRange {
    width: 140px;
    height: 140px;
  }
  main .sectionTwo .secondInformation .informationTitleTwo {
    font-size: 2rem;
  }
  footer {
    background-image: url(./assets/tablet/image-footer.jpg);
  }
  footer .overlay {
    flex-direction: column;
    justify-content: center;
  }
  footer .overlay .overlayText {
    justify-content: center;
    width: 30rem;
    height: 3rem;
    font-size: 2rem;
    margin-bottom: 5px;
  }
  footer .overlay .overlyDes {
    text-align: center;
    width: 30rem;
    height: 3rem;
    font-size: 13px;
    margin: 0;
    margin-bottom: 10px;
  }
  footer .overlay .overlayButton {
    width: 10rem;
    height: 3rem;
  }
}
@media (max-width: 600px) {
  main .sectionOne {
    width: 100%;
    margin-bottom: 4rem;
  }
  main .sectionOne .divOne {
    height: 13rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  main .sectionOne .divOne .pictureTag {
    display: flex;
    align-content: center;
    width: 100%;
    height: auto;
  }
  main .sectionOne .divOne .pictureTag .heroLeft {
    width: 100%;
    height: auto;
  }
  main .sectionOne .divTwo .firstTitle {
    font-size: 3rem;
    font-weight: bolder;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (max-width: 600px) and (max-width: 375px) {
  main .sectionOne .divTwo .firstTitle {
    font-size: 2.5rem;
    font-weight: bolder;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (max-width: 600px) {
  main .sectionOne .divTwo .secondTitle {
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  main .sectionOne .divTwo .buttonNav {
    flex-direction: column;
  }
  main .sectionOne .divTwo .buttonNav .buttonDownload {
    width: 150px;
  }
  main .sectionOne .divTwo .buttonNav .buttonHelp {
    width: 120px;
  }
  main .sectionTwo .imageGrid {
    grid-template-columns: repeat(2, auto);
    justify-items: center;
    gap: 1.5rem 1rem;
  }
  main .sectionTwo .imageGrid .imageRange {
    width: 150px;
  }
  main .sectionTwo .secondInformation .informationTitleTwo {
    font-size: 27px;
  }
  main .sectionTwo .secondInformation .informationTitleThree {
    width: 18rem;
    font-size: 15px;
  }
  footer {
    background-image: url(./assets/mobile/image-footer.jpg);
  }
  footer .overlay {
    justify-content: space-evenly;
  }
  footer .overlay .overlayText {
    width: 300px;
    height: auto;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 800;
  }
  footer .overlay .overlyDes {
    height: auto;
    width: 300px;
    text-align: center;
    font-size: 14px;
  }
}/*# sourceMappingURL=styles.css.map */